name: my-workflow
on:
  push:
    branches:
      - dev
      - production
  pull_request:
    branches:
      - dev
      - production
jobs:
  install-bun:
    name: Bun Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
  build-project:
    name: Build Project
    runs-on: ubuntu-latest
    needs: install-bun
    steps:
      - uses: actions/checkout@v4
      - run: cd rxt && bun run ./scripts/build.ts
