name: my-workflow
on:
  push:
    branches:
      - dev
      - production
  pull_request:
    branches:
      - dev
      - production
jobs:
  bun-check:
    name: Bun Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: cd rxt
      - run: bun run rxt-build
