name: deploy-test
run-name: Deploy Test

on:
  push:
    branches:
      - dev

jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: "canary"

      - name: Install Dependencies
        run: bun install

      - name: Build Project
        run: bun run build-proj

      - name: Deploy Test
        run: cp -r ./build/* /var/www/rxt

      - name: Restart Server
        run: |
          sudo chmod -R 770 /var/www/rxt
          if systemctl is-active --quiet rxt; then
            sudo systemctl stop rxt && sudo systemctl start rxt;
          else
            sudo systemctl start rxt;
          fi