jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Cache Bun
        uses: actions/cache@v3
        with:
          path: ~/.bun
          key: bun-${{ runner.os }}-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            bun-${{ runner.os }}-

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: "canary"

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            ~/.bun/install/cache/v1
          key: dependencies-${{ runner.os }}-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            dependencies-${{ runner.os }}-

      - name: Install Dependencies
        run: bun install

      - name: List Installed Packages
        run: ls node_modules

      - name: Build Project
        run: bun build app.ts --production --outdir ./build --format esm --minify --sourcemap=inline --publicPath='https://rextongaming.com' && cp -R ./public ./build/
