name: deploy-test
run-name: Deploy Test

on:
  push:
    branches:
      - dev

jobs:
    checkout:
        runs-on: self-hosted
        name: Checout Repository
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
    setup-bun:
        runs-on: self-hosted
        name: Setup Bun
        steps:
            - name: Setup Bun
              uses: actions/setup-bun@v2
              with:
                  version: "canary"

    install-dependencies:
        runs-on: self-hosted
        depends-on: setup-bun
        name: Install Dependencies
        steps:
            - name: Install Dependencies
              run: bun install

    build-project:
        runs-on: self-hosted
        depends-on: install-dependencies
        name: Build Project
        steps:
            - name: Build Project
              run: bun run build-proj

    deploy-test:
        runs-on: self-hosted
        depends-on: build-project
        name: Deploy Test
        steps:
            - name: Deploy Test
              run: cp -r ./build/* /var/www/rxt

    run-server:
        runs-on: self-hosted
        depends-on: deploy-test
        name: Run Server
        steps:
            - name: Run Server
              run: systemctl stop rxt && systemctl start rxt

    notify:
        runs-on: self-hosted
        depends-on: run-server
        name: Notify
        steps:
            - name: Notify
              run: echo "Deployment Completed"