name: deploy-test
run-name: Deploy Test

on:
  push:
    branches:
      - dev

jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Cache Bun
        uses: actions/cache@v3
        with:
          path: ~/.bun
          key: bun-${{ runner.os }}-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            bun-${{ runner.os }}-

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: "canary"

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            ~/.bun/install/cache/v1
          key: dependencies-${{ runner.os }}-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            dependencies-${{ runner.os }}-

      - name: Install Dependencies
        run: bun install

      - name: Build Project
        run: bun run build-proj

      - name: Deploy Test
        run: |
             sudo cp -r ./build/* /var/www/rxt

      - name: Restart Server
        run: |
             sudo chmod -R 770 /var/www/rxt
             if systemctl is-active --quiet rxt; then
             sudo systemctl stop rxt && sudo systemctl start rxt;
             else
             sudo systemctl start rxt;
             fi
