name: test-with-bun
on:
  push:
    branches:
      - dev
      - staging
jobs:
  build-test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
         bun-version: "canary"
      - name: Install Dependencies
        run: bun install
        working-directory: rxt
      - name: Build
        run: bun build ./rxt.js --outdir dist --format=esm --minify --sourcemap="inline"
        working-directory: rxt

